@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ysabeau SC', sans-serif;
  /*overflow-x: hidden;*/
}

.app{
  width: 100%;
}

/*navbar styles*/
.navbar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
}

.nav-action{
  display: flex;
  width: 10%;
  justify-content: space-between;
  align-items: center;
}

.nav-links{
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.nav-links ul{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navLinkItem{
  text-decoration: none !important;
}
/*end of navbar styles*/

/*category styles*/

.category{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: black;
  height: 70px;
  color: #fff;
  padding: 20px 150px;
}

.category-links{
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  cursor: pointer;
}
/*end of category styles*/

/*footer */
.footer{
  background: #262626;
  padding: 70px 150px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.information, .pages{
  display: flex;
  flex-direction: column;
}

.footer-link{
  text-decoration: none;
  color: #999999;
}

.footer-link:hover{
  color: #f43132;
}

.footer h3{
  color: #fff;
  margin: 20px 0;
}

.footer p{
  color: #999999;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.footer p i{
  margin-right: 10px;
}

.subscribe{
  display: flex;
  align-items: center;
}

.subscribe input{
  outline: none;
  border: 1px solid #999999;
  padding: 12px;
  width: 70%;
  background: transparent;
}

.subscribe button{
  padding: 12px;
  outline: none;
  width: 30%;
  cursor: pointer;
}

.social-icons{
  margin-top: 18px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}





